html, body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

polygon {
    opacity: 0.5;
    stroke: white;
    stroke-width: 3px;
}

