html, body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

stop {
    transition: all 0.3s;
}

.blink {
    animation-name: blink;
    animation-duration: 0.3s;
}

@keyframes blink {
  0%   {stroke: white;}
  50%  {stroke: black;}
  100% {stroke: white;}
}

polygon {
    opacity: 0.5;
    stroke: white;
    stroke-width: 3px;
}

