html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container {
    width: 60vw;
    height: 60vh;
    margin: auto;
    background-color: green;
    display: inline-block;
}

